@layer base, starlight, theme, components, utilities;
@import 'tailwindcss';
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);