---
import Layout_Afterwiki from "../../layouts/Layout_Afterwiki.astro";
---
<Layout_Afterwiki title="Afterwiki - Guide">
    <h1>Guide</h1>
    <p>Ceci est le guide du wiki AfterLife.</p>
</Layout_Afterwiki>
