---
import Layout_Afterwiki from "../../layouts/Layout_Afterwiki.astro";
---
<Layout_Afterwiki title="Afterwiki - Accueil">
    <h1>Bienvenue sur le Wiki AfterLife</h1>
    <p>Ceci est la page d'accueil du wiki AfterLife 🚀</p>
</Layout_Afterwiki>
