---
import Layout_Afterwiki from "../../layouts/Layout_Afterwiki.astro";
---
<Layout_Afterwiki title="Afterwiki - Intro">
    <h1>Introduction</h1>
    <p>Ceci est la page d'introduction du wiki AfterLife.</p>
</Layout_Afterwiki>
