---
import Layout_Afterwiki from "../../layouts/Layout_Afterwiki.astro";
---
<Layout_Afterwiki title="Afterwiki - NetCode">
    <h1>NetCode</h1>
    <p>Ceci est la page NetCode du wiki AfterLife.</p>  
</Layout_Afterwiki>
